/** Top main menu */
#zotero-wikidata-main-menu {
    margin: 0 0 0.5em 0;
}

/** Startup view */
#zotero-wikidata-items-tree {
    width: 640px;
    height: 480px;
}

#zotero-wikidata-items-tree > treecols > treecol {
    font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, -apple-system, sans-serif !important;
    font-size: 16px;
}

#zotero-wikidata-items-children {
    font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, -apple-system, sans-serif !important;
    font-size: 14px !important;
}

/** Item listing container */
#zotero-wikidata-information {
    font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, -apple-system, sans-serif !important;
    font-size: 14px;

    width: 100%;
    height: 800px;

    overflow: auto;
}

#zotero-wikidata-item-content {
    width: 100%;
    height: 780px;

    overflow: auto;
}

#zotero-wikidata-item-content > groupbox {
    padding: 1em;
}

#zotero-wikidata-item-content > groupbox > hbox {
    padding: 0.25em;
}

#zotero-wikidata-item-content > groupbox > hbox > label {
    min-width: 120px;
    padding-top: 0.75em !important;
}
