/** Top main menu */
#zotero-wikidata-main-menu {
    margin: 0 0 0.5em 0;
}

/** Give every button a right and left margin */
button {
    margin-right: 0.1em;
    margin-left: 0.1em;
}

/** View listing all items */
#zotero-wikidata-items {
    font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, -apple-system, sans-serif !important;
    font-size: 14px !important;
}

#zotero-wikidata-items-tree {
    width: 640px;
    height: 480px;
}

#zotero-wikidata-items-tree > treecols > treecol {
    font-size: 16px !important;
}

/** View listing all information of an item */
#zotero-wikidata-information {
    font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, -apple-system, sans-serif !important;
    font-size: 14px;

    width: 100%;
    height: 800px;

    overflow: auto;
}

#zotero-wikidata-item-content {
    width: 100%;
    height: 780px;

    overflow: auto;
}

#zotero-wikidata-item-content > groupbox {
    padding: 1em;
}

#zotero-wikidata-item-content > groupbox > hbox {
    padding: 0.25em;
}

#zotero-wikidata-item-content > groupbox > hbox > label {
    min-width: 120px;
    padding-top: 0.75em !important;
}

/** description hint color */
#wikidata-hint {
    color: lightcoral;
}
