
#zotero-wikidata-items-tree {
    width: 640px;
    height: 480px;
    padding: 0.25em;
}

#zotero-wikidata-items-tree > treecols > treecol {
    font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, -apple-system, sans-serif !important;
    font-size: 16px;
}

#zotero-wikidata-items-children  {
    font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, -apple-system, sans-serif !important;
    font-size: 14px !important;
}

#zotero-wikidata-item-content {
    font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, -apple-system, sans-serif !important;
    font-size: 14px;
}

#zotero-wikidata-item-content > groupbox {
    padding: 1em;
}

#zotero-wikidata-item-content > groupbox > hbox {
    padding: 0.25em;
}

#zotero-wikidata-item-content > groupbox > hbox > label {
    min-width: 150px;
    padding-top: 0.75em !important;
}
